@model Department
@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="All"></div>

<h1>Are You ensure to delete Department @Model.Name ?</h1>
<br />

<form asp-action="Delete">

    <partial name="ParitialViews/DeleteDetailsParitialView" />

    <button type="submit" value="Delete" class="btn btn-danger" >Delete</button>
    |

    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>



