@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.EmpName Employee </h1>
<br />

<div asp-validation-summary="All">  </div>

<form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">

    <partial name="PatialViews/CreateEditParitialView" />

    <input type="submit" value="Save" class="btn btn-primary" /> |

    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>

@section ValidatinScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}